polkit.addRule(function(action, subject){
	if (action.id === "com.github.calamares.calamares.pkexec.run" &&
		subject.isInGroup("sudo")) {
		return polkit.Result.YES;
	}
});